
.container{
    margin-top:5%;
    min-height: 400px;
    text-align: center; 
    background-color: black;
    border-radius: 25px;
}
h4{
    color: #fff;
    margin-top: 18%;
}
body{
    font-family: 'Nunito', sans-serif;
    padding: 50px;
  }
  .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    min-width: 350px;
    min-height: 200px;
    margin-top: 8%;
  }
  
  .card:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-1{
    background-image: url(../../assets/bank-workers-providing-service-clients_74855-4365.webp);
        background-repeat: no-repeat;
      background-position: center;
      background-position-y: bottom;
      background-size: cover;
  }
  
  .card-2{
     background-image: url(../../assets/hand-drawn-credit-assessment-concept-with-woman_23-2149154258.webp);
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: bottom;
     background-size: cover
  }
  
  .card-3{
     background-image: url(../../assets/man-showing-staircase-senior-woman_74855-10907.webp);
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: bottom;
     background-size: cover
  }
  
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  } 